<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-07-14 14:03" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../assets/css/inventory.css"
          th:href="@{/assets/css/inventory.css}"/>
    <script src="../../../libs/jquery/jquery.js"
            th:href="@{/libs/jquery/jquery.js}"></script>
    <script src="../../../libs/popper/popper.js"
            th:href="@{/libs/popper/popper.js}"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"
            th:href="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script src="../../../assets/js/inventory.js"
            th:href="@{/assets/js/inventory.js}"></script>
    <title>Index</title>
</head>
<body>
<header class="position-fixed fixed-top" th:replace="component/navbar :: delegator">
    navbar
</header>
<main class="container container-fluid">
    <h1 class="h1">Index</h1>
    <div class="row">
        <div class="col">
            <form id="form-signup" action="index.html" method="post"
                  th:action="@{/signup}"></form>
            <div class="container">
                <div class="row">
                    <label class="col-form-label col-2" for="create-email">E-Mail</label>
                    <div class="col">
                        <input id="create-email" class="form-control"
                               form="form-signup" name="email"
                               required="required"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-form-label col-2" for="create-name">Name</label>
                    <div class="col">
                        <input id="create-name" class="form-control"
                               form="form-signup" name="name"
                               required="required"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-form-label col-2" for="create-secret">Password</label>
                    <div class="col">
                        <input type="password" id="create-secret" class="form-control"
                               form="form-signup" name="secret"
                               required="required"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-form-label" for="create-confirm">PW Confirm</label>
                    <div class="col">
                        <input type="password" id="create-confirm" class="form-control"
                               form="form-signup" name="confirm"
                               required="required"/>
                    </div>
                </div>
                <div class="">
                    <button form="form-signup" class="btn btn-primary">SIGN-UP</button>
                </div>
            </div>
        </div>
        <div class="col">
            <form id="form-signin" class="hide" action="index.html" method="post"
                  th:action="@{/signin}"></form>
            <div class="container">
                <div class="row">
                    <label class="col-form-label col-2" for="signin-username">ID</label>
                    <div class="col">
                        <input id="signin-username" class="form-control"
                               form="form-signin" name="username"/>
                    </div>
                </div>
                <div class="row">
                    <label class="col-form-label col-2" for="signin-password">Password</label>
                    <div class="col">
                        <input type="password" id="signin-password" class="form-control"
                               form="form-signin" name="password"/>
                    </div>
                </div>
                <div class="container">
                    <button class="btn btn-primary" form="form-signin">SIGN-IN</button>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
