<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-07-10 22:34" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../assets/css/inventory.css"
          th:href="@{/assets/css/inventory.css}"/>
    <script src="../../../libs/jquery/jquery.js"
            th:href="@{/libs/jquery/jquery.js}"></script>
    <script src="../../../libs/popper/popper.js"
            th:href="@{/libs/popper/popper.js}"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"
            th:href="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script src="../../../libs/vue/vue.js"
            th:href="@{/libs/vue/vue.js}"></script>
    <script src="../../../assets/js/inventory.js"
            th:href="@{/assets/js/inventory.js}"></script>
    <title>Create Form</title>
</head>
<body>
<header class="position-fixed fixed-top" th:replace="component/navbar :: render">
    navbar
</header>
<main class="container-fluid">
    <h1>Create Noun</h1>
    <form id="form-create" action="#" method="post"
          th:action="@{/nouns}"></form>
    <!--/*@thymesVar id="createNounReq" type="kr.lul.inventory.web.manager.controller.argument.CreateNounReq"*/-->
    <div class="container"
         th:object="${createNounReq}">
        <div class="form-group row">
            <label class="col-form-label col-2" for="input-create-type">TYPE</label>
            <div class="col">
                <!--/*@thymesVar id="type" type="kr.lul.inventory.design.domain.NounType"*/-->
                <select id="input-create-type" class="form-control"
                        form="form-create" name="type"
                        required="required"
                        th:field="*{type}" th:errorClass="is-invalid">
                    <option th:each="type : ${T(kr.lul.inventory.design.domain.NounType).values()}"
                            th:value="${type}" th:selected="${false}"
                            th:text="${type}">COUNTABLE
                    </option>
                    <option th:remove="all">IDENTIFIABLE</option>
                    <option th:remove="all">LIMITED_COUNTABLE</option>
                    <option th:remove="all">LIMITED_IDENTIFIABLE</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="${err}">error</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2"
                   for="input-create-key">KEY</label>
            <div class="col">
                <label class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              th:text="${T(kr.lul.inventory.design.domain.Noun).KEY_NAMESPACE +'.'}">namespace.</span>
                    </div>
                    <input id="input-create-key" class="form-control"
                           form="form-create" name="key"
                           required="required" minlength="1" maxlength="255"
                           th:field="*{key}" th:errorClass="is-invalid"
                           th:minlength="${T(kr.lul.inventory.design.domain.Noun).KEY_MIN_LENGTH}"
                           th:maxlength="${T(kr.lul.inventory.design.domain.Noun).KEY_MAX_LENGTH}"
                           th:pattern="${T(kr.lul.inventory.design.domain.Noun).KEY_PATTERN}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('key')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('key')}" th:text="${err}">error</li>
                        </ul>
                    </div>
                </label>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2"
                   for="input-create-label">LABEL</label>
            <div class="col">
                <input id="input-create-label" class="form-control"
                       form="form-create" name="label"
                       required="required" minlength="1" maxlength="255"
                       th:field="*{label}" th:errorClass="is-invalid"
                       th:minlength="${T(kr.lul.inventory.design.domain.Noun).LABEL_MIN_LENGTH}"
                       th:maxlength="${T(kr.lul.inventory.design.domain.Noun).LABEL_MAX_LENGTH}"
                       th:pattern="${T(kr.lul.inventory.design.domain.Noun).LABEL_PATTERN}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('label')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('label')}" th:text="${err}">error</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2"
                   for="input-create-label-code">LABEL CODE</label>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"
                              th:text="${'#' +T(kr.lul.inventory.design.domain.Noun).LABEL_CODE_NAMESPACE +'.'}">#namespace.</span>
                    </div>
                    <input id="input-create-label-code" class="form-control"
                           form="form-create" name="label-code"
                           required="required" minlength="1" maxlength="255"
                           th:field="*{labelCode}" th:errorClass="is-invalid"
                           th:minlength="${T(kr.lul.inventory.design.domain.Noun).LABEL_CODE_MIN_LENGTH}"
                           th:maxlength="${T(kr.lul.inventory.design.domain.Noun).LABEL_CODE_MAX_LENGTH}"
                           th:pattern="${T(kr.lul.inventory.design.domain.Noun).LABEL_CODE_PATTERN}"/>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('labelCode')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('labelCode')}" th:text="${err}">error</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2" for="input-create-limit">LIMIT</label>
            <div class="col">
                <input type="number" id="input-create-limit" class="form-control"
                       form="form-create" name="limit"
                       min="0" value="0"
                       th:field="*{limit}" th:errorClass="is-invalid"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('limit')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('limit')}" th:text="${err}">error</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-form-label col-2"
                   for="description">DESCRIPTION</label>
            <div class="col">
                <textarea id="description" class="form-control" rows="10"
                          form="form-create" name="description"
                          th:field="*{description}" th:errorClass="is-invalid"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}">error</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-lg btn-primary" form="form-create">SUBMIT</button>
            <button class="btn btn-lg btn-warning" type="reset" form="form-create">RESET</button>
        </div>
    </div>
</main>
</body>
</html>
