<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-08-15 11:23" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../assets/css/inventory.css"
          th:href="@{/assets/css/inventory.css}"/>
    <script src="../../../libs/jquery/jquery.js"
            th:href="@{/libs/jquery/jquery.js}"></script>
    <script src="../../../libs/popper/popper.js"
            th:href="@{/libs/popper/popper.js}"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"
            th:href="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script src="../../../libs/vue/vue.js"
            th:href="@{/libs/vue/vue.js}"></script>
    <script src="../../../assets/js/inventory.js"
            th:href="@{/assets/js/inventory.js}"></script>
    <title>Noun Detail</title>
</head>
<body>
<header class="position-fixed fixed-top" th:replace="component/navbar :: render">
    navbar
</header>
<main class="container">
    <h1>Noun Detail</h1>
    <!--/*@thymesVar id="noun" type="kr.lul.inventory.dto.NounDetailDto"*/-->
    <div th:unless="${noun}">
        noun does not exist.
    </div>
    <div th:if="${noun}" th:remove="tag">
        <div th:switch="${noun.class}" th:remove="tag">
            <div class="container" th:replace="component/dto/__${noun.class.name}__ :: render(${noun})">identifiable
                detail
            </div>
        </div>
    </div>
    <div class="container">
        <a class="btn btn-lg btn-warning" href="update.html"
           th:href="@{/nouns/__${noun.id}__/edit}">EDIT</a>
        <a class="btn btn-lg btn-link" href="list.html"
           th:href="@{/nouns}">LIST</a>
    </div>
</main>
</body>
</html>
