<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-08-03 20:19" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../assets/css/inventory.css"
          th:href="@{/assets/css/inventory.css}"/>
    <script src="../../../libs/jquery/jquery.js"
            th:href="@{/libs/jquery/jquery.js}"></script>
    <script src="../../../libs/popper/popper.js"
            th:href="@{/libs/popper/popper.js}"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"
            th:href="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script src="../../../assets/js/inventory.js"
            th:href="@{/assets/js/inventory.js}"></script>
    <title>Noun List</title>
</head>
<body>
<header class="position-fixed fixed-top" th:replace="component/navbar :: render">
    navbar
</header>
<main class="container-fluid">
    <h1 class="h1">Noun List</h1>
    <div class="container">
        <!--/*@thymesVar id="list" type="org.springframework.data.domain.Page<kr.lul.inventory.dto.NounSimpleDto>"*/-->
        <ol th:start="${1 +list.number *list.size}">
            <!--/*@thymesVar id="list" type="org.springframework.data.domain.Page<kr.lul.inventory.dto.NounSimpleDto>"*/-->
            <li th:each="noun : ${list.content}">
                <div th:replace="component/dto/__${noun.class.name}__ :: render(${noun})">noun</div>
            </li>
        </ol>
    </div>
    <div class="container" sd:page-object="${list}">
        <div>
            <div sd:pagination-summary="">info</div>
        </div>
        <nav class="pull-right">
            <ul class="pagination" sd:pagination-split="10" sd:pagination="full">
                <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            </ul>
        </nav>
    </div>
    <div class="container">
        <a class="btn btn-link" href="create.html"
           th:href="@{/nouns/create}">NEW</a>
    </div>
</main>
</body>
</html>
