<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-08-15 17:00" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../libs/bootstrap/css/bootstrap.css"
          th:href="@{/libs/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../assets/css/inventory.css"
          th:href="@{/assets/css/inventory.css}"/>
    <script src="../../../libs/jquery/jquery.js"
            th:href="@{/libs/jquery/jquery.js}"></script>
    <script src="../../../libs/popper/popper.js"
            th:href="@{/libs/popper/popper.js}"></script>
    <script src="../../../libs/bootstrap/js/bootstrap.js"
            th:href="@{/libs/bootstrap/js/bootstrap.js}"></script>
    <script src="../../../libs/vue/vue.js"
            th:href="@{/libs/vue/vue.js}"></script>
    <script src="../../../assets/js/inventory.js"
            th:href="@{/assets/js/inventory.js}"></script>
    <title>Noun update</title>
</head>
<body>
<header class="position-fixed fixed-top" th:replace="component/navbar :: render">
    navbar
</header>
<main class="container">
    <h1>Noun update</h1>
    <!--/*@thymesVar id="noun" type="kr.lul.inventory.dto.NounDetailDto"*/-->
    <div th:unless="${noun}">
        <p class="alert alert-warning">noun does not exist.</p>
    </div>
    <div class="container" th:if="${noun}">
        <form id="form-update" class="hide"
              action="detail.html" method="post"
              th:action="@{/nouns/__${noun.id}__}" th:method="PATCH"></form>
        <div th:replace="component/dto/__${noun.class.name}__/update :: render(${noun}, ${req})">
            form
        </div>
        <div>
            <button class="btn btn-lg btn-primary" form="form-update">SUBMIT</button>
            <button type="reset" class="btn btn-lg btn-warning" form="form-update">RESET</button>
            <a class="btn btn-lg btn-light" href="list.html"
               th:href="@{/nouns}">LIST</a>
        </div>
    </div>
</main>
</body>
</html>
