<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-07-14 13:00" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap.css"/>
    <script src="../../libs/jquery/jquery.js"></script>
    <script src="../../libs/popper/popper.js"></script>
    <script src="../../libs/bootstrap/js/bootstrap.js"></script>
    <title>Navbar</title>
</head>
<body>
<header class="position-static" th:fragment="delegator()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="navbar.html" th:href="@{/}">Navbar</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#global-navbar"
                aria-controls="global-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="global-navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li id="global-navbar-item-1" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"
                       href="#gnv-menu-noun">Noun</a>
                    <ul id="gnv-menu-noun" class="dropdown-menu" aria-labelledby="global-navbar-item-1">
                        <li class="dropdown-item">
                            <a class="nav-link" href="../layout/noun/create.html"
                               th:href="@{/nouns/create}">New</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="nav-link" href="../layout/noun/index.html"
                               th:href="@{/nouns}">List</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Dummy</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="pt-3">
    <main class="container">
        <h1 class="h1">Navbar</h1>
        <section>
            <h2 class="h2">Guest</h2>
            <div class="shadow">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="navbar/guest.html"></iframe>
                </div>
            </div>
        </section>
        <section>
            <h2 class="h2">Manager</h2>
            <div class="shadow">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="navbar/manager.html"></iframe>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
